main {
  width: 1366px;
  margin: 0 auto;
}

.projects-section {
  background-color: var(--base-color-gray-200);
  padding: 72px 163px 144px;
  gap: 56px;
}

.section-header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
  margin: 0 auto;

  p {
    font: var(--text-subtitle);
    color: var(--bg-color-red);
  }
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

.project-card {
  display: flex;
  flex-direction: column;
  width: 330px;
  height: 280px;
  background-color: var(--base-color-gray-300);
  padding: 12px 12px 17px;
  border-radius: 12px;
  justify-content: space-between;

  img {
    border-radius: 8px;
  }
}

.card-desc {
  display: flex;
  flex-direction: column;
  gap: 8px;

  h3 {
    font: var(--text-title-sm);
    color: var(--base-color-gray-600);
  }

  p {
    font: var(--text-sm);
    color: var(--base-color-gray-500);
  }
}

.services {
  background-color: var(--base-color-gray-100);
  padding: 88px 239px 120px;
  gap: 56px;
}

.service-card {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 155px;
  padding: 20px 20px 20px;
  gap: 20px;
  border: 2px solid #16181d;
  border-radius: 12px;
}

.icon-service {
  width: 48px;
  aspect-ratio: 1/1;
  background-color: white; /* A cor será alterada para cada ícone */
  mask-size: cover;
  -webkit-mask-size: cover;
  display: inline-block;
}

.devices-ico {
  mask: url(/assets/ico/Devices.svg) no-repeat center;
  background-color: var(--bg-color-purple);
}

.hard-drive-ico {
  mask: url(/assets/ico/HardDrives.svg) no-repeat center;
  background-color: var(--bg-color-yellow);
}

.infinity-ico {
  mask: url(/assets/ico/Infinity.svg) no-repeat center;
  background-color: var(--bg-color-green);
}
